body, h3, h4, h5, h6 {
    font-weight:600;
}
.navbar a, .hero-image-container a {
    color:black;
}
h1 {
    font-weight : 400;

}
p {
    font-size:16px;
}
@media screen and (max-width: 1199px) {
    .main-menu {
        display:flex;
        justify-content: flex-end;
        flex-direction: column;
        height:100vh;
        position: absolute;
        width: 100%;
        left: 0;
        padding:25px;
    }
}
.main-menu ul {
    padding-left:0;
}
.section {
    height:100vh;
    width:100%;
}
@media screen and (max-width: 767px) {
    .section:not(.hero-image-container) {
        height:auto;
        //padding:3rem 0;
    }
    .section:not(.hero-image-container) .valign {
        padding:3rem 0;
    }
}
.hero-image-container {
    margin-top:-70px;
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
}
.hero-image-container .btn {
    margin: 0.5rem 0;
}
.me-container {
    width:100%;
    background-color: white;
}
.me-container .container,
.work-container .container,
.contact-container .container,
.services-container .container {
    padding:5rem 0;
    display:block;
}
.work-container,.contact-container, .services-container {
    width:100%;
}
.services-container .valign {
    background-color: #410880;
    color:white !important;
}
.services-container h1 {
    font-weight:bold;
}
.work-container .valign {
    background-color:ivory;
}
.passion-container .valign {
    background-color:bisque;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    font-family:Helvetica;
}
.btn-primary.outline {
    color: #000;
    border: 2px solid #000;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.btn-primary.hero {
    border: 2px solid #fff;
    color: #fff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    text-shadow: 0px 0 15px rgba(255,255,255,0.6);
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
.divider {
    height:10px;
    width:100%;
    background-color:black;
}
.social {
    margin: 2rem 0;
}
.flex {
    display:flex;
}
.navbar-brand {
    font-family: "Montez";
    font-weight: 400;
    line-height:8rem;
    font-size:4rem;
}
.valign {
    width:inherit;
    display:flex;
    align-items: center;
    font-family: "Josefin Sans";
}
.valign h1 {
    font-size:50px;
}

.dimmer.on {
    background: rgba(0,0,0,0.4);
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.dimmer {
    background:rgba(0,0,0,0);
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.to-top {
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-family: monospace;
    font-weight: bold;
}